use std::foo;
use foo 123;

use ::;

mod main;


mod main;

pub enum Option<T>{
    Some(T),
    None
}


pub interface Foo<T> : Bar::123::foo, Bar2<T> where T : Asdf {
    pub fn foo(a: foo::bar::, foo: int);
    pub fn foo3() -> mut u8;
    mut pub fn foo2(a: u8, b: (u8, u8));
    pub fn bar<T>(t: T);
    pub fn qux<T1, T2>(value: T1) where T1 : SomeInterface<T2>;
    pub fn qux2<T1, T2>(value: T1) -> T2 where T1 : SomeInterface<T2>;

    pub get x() -> u8;
    pub mut get y() -> mut Bar<T>;

    pub set x(a, b c);
    pub set xy(y: u8);

    #[foo] set x(value: u8);
}

let bar: T;
mut let foo: u8;
pub let x: Foo<T>;

pub struct Foo<T> {
    foo: int;
    pub mut bar: int;
} where T : Foobar;

pub struct Foo<T> where T : Foobar {
    pub mut x: T;
    pub y: T;
} destructures into (x, y);

pub struct Foo(x: int, y: int);

struct Bar {} foo destructures into (x, y);

alias bar<T> = (foo, std::map<asdf, T>) where T : numeric;

let foo = 1;
let foo: int = 0;
foo = 1;

<,foo>
unexpected comma
missing comma